#content {
    margin: 0 auto;
    width: 900px;
}

#byline {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
    text-align: center;
}
#subhead {
    text-align: center;
}

h1 {
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
}

.body {
    font-family: Georgia, serif;
    font-size: 13px;
}

.image-container {
    text-align: center;
}

#banner {
    text-align: center;
    margin: 0 auto;
}

blockquote {
    font-size: 28px;
    font-style: italic;
    color: red;
    padding-top: 25px;
    padding-bottom: 25px;
}