#content {
    margin: 0 auto;
    width: 900px;
}

#byline {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
    text-align: center;
}
#subhead {
    text-align: center;
}

h1 {
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
}

.body {
    font-family: Georgia, serif;
    font-size: 13px;
}

/*center all images*/
img {
    margin: 0 auto;
    display: block;
}
