.headline {
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.byline {
    font-size: 1em;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

p {
    font-family: georgia, serif;
    line-height: 180%;
}

.chapter-headline {
    font-size: 2em;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

#caption {
    text-align: center;
    font-size: 1em;
    color: #C8C8C8;
}

.col-sm {
    text-align: center;
}


.hero-container {
    position: relative;
    text-align: center;
    color: white;    
}
