.headline {
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.byline {
    font-size: 1em;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

p {
    font-family: georgia, serif;
    line-height: 180%;
    font-size: 16px;
    line-height: 1.6;
}

.chapter-headline {
    font-size: 2em;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

#caption {
    text-align: center;
    font-size: 1em;
    color: #C8C8C8;
}

.col-sm {
    text-align: center;
}


.hero-container {
    position: relative;
    text-align: center;
    color: white;    
}

.hero-image {
    width: 100%;
}

.overlay {
    position: absolute;
    top: 20%;
    width: 100%;
    background-color: black;
    opacity: .7;
}

.hero-head {
    font-family: "Montserrat", sans-serif;
    font-size: 4em;
    color: white;
    margin: 0 auto;
    padding-bottom: 10px;
}

.hero-sub {
    font-family: georgia, serif;
    font-size: 2em;
}

blockquote {
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    color: #158649;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: "Montserrat", sans-serif;
}

.line {
    color: #158649;
    font-weight: bolder;
}

map{
    margin: 0 auto;
    width: 100%;
}

strong {
    font-family:georgia, serif;
    font-size: 25px;
    line-height: 1;
    color: #158649;
}

#caption {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: x-small;
}