/*style for my midterm on SZA*/
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
    font-style: oblique;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-style: oblique;
}

h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-style: oblique;
}
h5 {
    font-family: Helvetica, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-style: oblique;
}


p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

#div-wrapper {
    margin: 0 auto;
    width: 900px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#byline {
    font-family: Georgia, Arial, sans-serif;
    font-size: 14px;
    font-style: italic;
    text-align: center;
}

blockquote {
    font-size: 30px;
    font-style: italic;
    color: red;
    padding-top: 25px;
    padding-bottom: 25px;
}

ul {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.6;
}

#caption1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    text-align: center;
}

#caption2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    text-align: center;
}

#caption3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    text-align: center;
}

#caption4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    text-align: center;
}

.masthead {
    text-align: center;
    width: 950px;
}

strong {
    font-family: Georgia, Arial, sans-serif;
    font-size: 85px;
    line-height: 1;
}

.line {
    line-height: 0;
}